body {
    background-color: rgb(211, 211, 211);
    font-family: Garamond;
    
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


h2, h3 {
    font-family: Garamond;
   
}

h2 {
    text-decoration: underline;
}

ul, ol {
    list-style: square;
}


img {
    border: 2px black solid;
}

.index-title {
    text-align: center;
    color: rgb(0,0,0);
  }


.index-list {
    list-style: none;
  }


.index-list li {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: -40px;
    margin-bottom: 10px;
    padding: 20px;
    /* height: 50px; */
   }


.index-list a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(172, 0, 0);
    font-weight: 550;
    
  }
